<div class="row">
    <div class="col-6">
        <h2 [ngClass]="{'ower':isDisabled}">Angular directives works!</h2>
        <br>
        <button class="button btn btn-primary" [ngClass]="{'btn-lg':isDisabled}" (click)="onClick()">Click me!</button>
    </div>
    <div class="col-6">
        <h2 [ngStyle]="{'outline-style': isDisabled ? 'double' : 'dashed'}">Ng-Style Example</h2>
    </div>
    <div class="col-4">
        <h1>Ng If</h1>
        <ul class="list-group" *ngIf = "mentors">
            <li class="list-group-item" *ngFor="let mentor of mentors" >{{mentor}}</li>
        </ul>
    </div>
    <div class="col-4">
        <h1>Ng For with class</h1>
        <ul class="list-group" *ngIf = "myMentors">
            <li class="list-group-item" *ngFor="let myMentor of myMentors" >{{myMentor.firstName}}</li>
        </ul>
    </div>
    <div class="col-4">
        <h1>Ng For with interface</h1>
        <ul class="list-group" *ngIf = "iMentors">
            <li class="list-group-item" *ngFor="let iMentor of iMentors" >{{iMentor.name}}</li>
        </ul>
    </div>
</div>
