<div class="row">
    <div class="col-6">
        <h2 [ngClass]="{'ower':isDisabled}">Angular directives works!</h2>
        <br>
        <button class="button btn btn-primary" [ngClass]="{'btn-lg':isDisabled}" (click)="onClick()">Click me!</button>
    </div>
    <div class="col-6">
        <h2 [ngStyle]="{'outline-style': isDisabled ? 'double' : 'dashed'}">Ng-Style Example</h2>
    </div>
    <div class="col-12" *ngIf = "isAuthorized">
        <h1>Ng If</h1>
        <ul class="list-group">
            <h2>Mentors</h2>
            <li class="list-group-item" *ngFor="let mentor of mentors" >{{mentor}}</li>
        </ul>
    </div>
</div>
