<div class="container">
  <div class="row">
      <app-navbar></app-navbar>
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="col-6">
        <app-category></app-category>
      </div>
      <div class="col-6">
        <app-invoice></app-invoice>
      </div>
      <div class="col-12">
        <app-binding></app-binding>
      </div>
      <div class="col-12">
        <app-directives></app-directives>
      </div>
      <div class="col-12">
        <app-routing></app-routing>
      </div> -->
  </div>
</div>